*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div {
    display: block;
}

nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(72, 61, 139, 1);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 30px;
}

.nav-links a:hover{
    background-color: darkslateblue;
}

.clock-wrapper{
    padding: 38vh;
    background-color: darkslategray;
}

.clock {
    color: white;
    text-align: center;
    font-size: 8vw;
    letter-spacing: 0.2vw;
    display: block;
    text-shadow: 3px 3px black;
    animation: pulse 2s infinite;
}

.clock #DateDisplay {
    font-size: 3vw;
}

.new-div {
    padding: 46.45vh;
}
.new-div.red {
    background-color: red;
}

.new-div.purple {
    background-color: purple;
}

.footer {
    position: absolute;
    width: 100%;
    background-color: darkslateblue;
    color: white;
    text-align: center;
    min-height: 50px;
}



@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.97);
    }
}