:root {
    --background-picture: url(images/background-1.jpg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-image: var(--background-picture);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all 0.5s ease-in-out;
}

#page-scroll {
    position: absolute;
    height: 200%;
    width: 100%;
}

.greeting-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(44, 44, 44, 1);
    width: 92%;
    height: 800px;
    border: 1px solid white;
    z-index: 0;
    overflow: hidden;
}

#particles-js { 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
    z-index: -1;
}

.nav-wrap {
    position: absolute;
    padding-top: 40px;
    margin-left: 92%;
    transition: margin-left 0.4s;
    z-index: 3;
}

.nav-wrap .hamburger {
    position: absolute;
    padding: 1rem;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    cursor: pointer;
}

.nav-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: all 0.5s ease;
}

.nav-wrap .hamburger >div:before,
.nav-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.nav-wrap .hamburger > div:after {
    top: 10px;
}

/*Hamburger Animation*/

.nav-wrap .hamburger.open > div{
    transform: rotate(135deg);
}

/*Turn lines into X*/

.nav-wrap .hamburger.open > div:before,
.nav-wrap .hamburger.open > div:after {
    top: 0;
    transform: rotate(90deg);
}

/*Rotate on hover when open*/
.nav-wrap .hamburger.open:hover > div {
    transform: rotate(225deg);
}

/*Show the menu*/
.nav-wrap .hamburger.open ~ .menu {
    visibility: visible;
}

.nav-wrap .hamburger.open ~ .menu > div {
    transform: scale(1);
    transition-duration: 1s;
}

.nav-wrap .hamburger.open ~ .menu > div > div {
    opacity: 1;
    transition: opacity 2s ease;
}

.nav-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.nav-wrap .menu > div {
    background: rgba(44, 44, 44, 0.9);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.6s ease;
}

.nav-wrap .menu > div > div {
    text-align: center;
    max-width: 90vh;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.nav-wrap .menu > div > div > ul > li {
    list-style: none;
    color: white;
    font-size: 2.5rem;
    padding: 1rem;
}

.nav-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.nav-links {
    margin-top: -20%;
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    margin: 2vw;
}

.nav-links li > a:hover {
    border-bottom: 1px solid orange;
}

.nav-links img {
    margin-top: 90px;
    width: 200px;
    height: 200px;
}

.introduction-wrap {
    position: relative;
    height: 100%;
}

.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    font-size: 82px;
    transition: font-size 0.4s;
    z-index: 3;
}

.post-intro {
    position: absolute;
    right: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 82px;
    z-index: 3;
}

#footnote {
    font-size: 34px;
    transition: font-size 0.4s;
}

.introduction button {
    margin-top: 1em;
    padding: 0.7em;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

.introduction button:hover {
    border: 1px solid orange;
}

.background-change {
    position: absolute;
    background-image: var(--background-picture);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 30px;
    left: 50px;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    cursor: pointer;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: rotate(270deg);
    color: white;
    font-size: small;
    transition: all 0.5s;
}

.scroll-down #text {
    position: absolute;
    left: 50px;
}

.scroll-down #arrow {
    position: absolute;
    animation: bounce 2s infinite;
}

.background-change:hover {
    border: 1px solid orange;
}

.background-modal-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: rgba(44, 44, 44, 0.9);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    visibility: hidden;
    opacity: 0;

    transition: opacity 0.5s;
}

.modal-open {
    visibility: visible;
    opacity: 1;
}

.modal {
    background-color: rgb(30, 30, 30);
    border: 1px solid white;
    width: 40%;
    height: 40%;
    padding-top: 2%;
    position: relative;
    border-radius: 25px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    text-align: center;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.modal h1 {
    text-align: center;
}

.modal-image-wrap {
    position: absolute;
    height: 215px;
    width: 95%;
    overflow-y: auto;
    left: 2.5%;
    top: 30%;
}

.modal-images {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    padding: 1px;
}

.img-container {
    height: 100%;
    overflow: hidden;
}


.img-container.selected{
    border: 3px solid orange;
}

.img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.5s;
}

.img-container img:hover {
    transform: scale(1.5);
    transition: all 0.5s;
}

@keyframes bounce {
    0%, 100% {
        transform: translate(0px);
    }

    50% {
        transform: translate(20px);
    }
}

@media screen and (max-width: 1200px) {
    .nav-links li{
        margin: 0.3%;
    }
}

@media screen and (max-width: 950px) {
    .nav-wrap {
        margin-left: 85%;
        transition: margin-left 0.4s;
    }

    .introduction {
        font-size: 42px;
        transition: font-size 0.4s;
    }

    #footnote {
        font-size: 14px;
        transition: font-size 0.4s;
    }

    .nav-links {
        display: block;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links img {
        position: absolute;
        visibility: hidden;
    }

    .introduction button {
        padding: 0.5em;
        font-size: 10px;
    }
}

